{% extends "app/main.html" %} {% load static %}{% block content %}
<style>
  .img-thumbnail {

    height: 200px;
    object-fit: cover;

  }

  .delete-btn {
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    color: grey;
  }
</style>
<div class="container mt-2">
  {% if messages %}
    <div>
      {% for message in messages %}
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      {% endfor %}
    </div>
    {% endif %}
  <h1 class="mb-4">{{ profile.user.first_name }}'s Photo Gallery</h1>
  <div class="row">
    <div class="col-md-3">
      <div class="card">
        <div class="card-header">Albums:</div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><a href="{% url 'gallery' profile.id %}">All</a></li>

          {% for album in albums %}
          <li class="list-group-item d-flex justify-content-between">
            <a href="{% url 'gallery' profile.id %}?album={{album.name}}">{{ album.name }}</a>
            <form method="POST" action="">
              {% csrf_token %}
              <input type="hidden" name="album_id" value="{{album.id}}">
              <button type="button" class="bi bi-trash delete-btn" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal"></button>
            </form>
          </li>
          {% endfor %}

          {% if request.user.profile.id == profile.id %}
          <a href="{% url 'add_photo' profile.id %}" class="btn btn-primary btn-block btn-sm m-1">Add Photo</a>
          <a href="{% url 'add_album' profile.id %}" class="btn btn-warning btn-block btn-sm m-1">Add Album</a>
          {% endif %}
        </ul>
      </div>
    </div>
    <div class="col-md-9">
      <div class="row">
        {% for photo in photos %}
        <div class="col-md-4">
          <div class="card">
            <img src="{{ photo.image.url }}" class="img-thumbnail" alt="..." />
            <div class="card-body">
              <small class="card-text">
                Album: {% if photo.album.name %} {{ photo.album.name }} {% else %} <p class="d-inline">All</p>
                {% endif %}
              </small>
            </div>
            <div class="d-flex">
              <a href="{% url 'photo' profile.id photo.id %}" class="btn btn-primary btn-sm m-1 w-75">View</a>
              <a href="{% url 'photo' profile.id photo.id %}" class="btn btn-outline-dark btn-sm m-1 w-25"><button type="button" class="bi bi-trash delete-btn" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal"></button></a>
            </div>
          </div>
        </div>
        {% empty %}
        <h3>No photos...</h3>
        {% endfor %}

      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-labelledby="confirmDeleteModalLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="confirmDeleteModalLabel">Confirm Album Deletion</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete this album? This will also delete all the associated photos
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" id="delete-account-btn">Delete Album</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}