{% extends "app/main.html" %} {% load static %}{% block content %}
    <style>
      .img-thumbnail {

        height: 200px;
        object-fit: cover;

      }
    </style>
    <div class="container mt-2">
      <h1 class="mb-4">{{ profile.user.first_name }}'s Photo Gallery</h1>
      <div class="row">
        <div class="col-md-3">
          <div class="card">
            <div class="card-header">Albums</div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><a href="{% url 'gallery' profile.id %}">All</a></li>

              {% for album in albums %}
                <li class="list-group-item"><a href="{% url 'gallery' profile.id %}?album={{album.name}}">{{ album.name }}</a></li>
              {% endfor %}

              {% if request.user.profile.id == profile.id %}
                <a href="{% url 'add_photo' profile.id %}" class="btn btn-danger btn-block btn-sm m-1">Add Photo</a>
                <a href="{% url 'add_album' profile.id %}" class="btn btn-success btn-block btn-sm m-1">Add Album</a>
              {% endif %}
            </ul>
          </div>
        </div>
        <div class="col-md-9">
          <div class="row">
            {% for photo in photos %}  
            <div class="col-md-4">
              <div class="card">
                <img src="{{ photo.image.url }}" class="img-thumbnail" alt="..." />
                <div class="card-body">
                  <small class="card-text">
                    Album: {% if photo.album.name %} {{ photo.album.name }} {% else %} <p class="d-inline">All</p> {% endif %}
                  </small>
                </div>
                <a href="{% url 'photo' profile.id photo.id %}" class="btn btn-outline-dark btn-sm m-1">View</a>
              </div>
            </div>
            {% empty %}
              <h3>No photos...</h3>
            {% endfor %}

          </div>
        </div>
      </div>
    </div>
{% endblock %}
