{% extends "app/main.html" %} 
{% block content %} 

<style>
  .avatar {
		width: 50px;
		border-radius: 100%;
		margin-right: 5px;
		object-fit: cover;
	}

  hr.style-one {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
  }
</style>

<section>
  <div class="container">
    <div class="row">
      <div class="col">
        <ul class="list-unstyled d-flex justify-content-center">
          {% for request in requests %}
          <li class="mt-2 bg-grey">
            You have a friend request from <a href="{% url 'profile' request.sender.id %}"><img class="avatar" src="{{ request.sender.profile_pic.url}}" alt=""> {{ request.sender.user.first_name }}</a>
            <form action="" method="post">
              {% csrf_token %}
              <input type="hidden" name="friend_request_id" value="{{ request.id }}">
              <button class="btn btn-primary" type="submit" name="action" value="approve">Approve</button>
              <button class="btn btn-danger" type="submit" name="action" value="deny">Decline</button>
            </form>
            <hr class="style-one">
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</section>

{% endblock %}