{% extends "app/main.html" %} 
{% block content %} 

<h1>Hello world</h1>
<ul>
  {% for request in requests %}
  <li>
    You have a friend request from <a href="#">{{ request.sender.user.first_name }}</a>
    <form action="" method="post">
      {% csrf_token %}
      <input type="hidden" name="friend_request_id" value="{{ request.id }}">
      <button type="submit" name="action" value="approve">Approve</button>
      <button type="submit" name="action" value="deny">Deny</button>
    </form>
  </li>
  {% endfor %}
</ul>

{% endblock %}