{% extends "app/main.html" %} {% load static %}{% block content %}

<style>
  .viewport-height {
    min-height: 70vh;
    overflow-y: auto;
  }
</style>

<!-- about body -->
<section>
  <div class="container">
    <div class="row">
      <div class="col viewport-height">
          <h1>About Socializer</h1>
          <p>
            Get amongst it with Socializer. Meet new people, attend cool events and explore our beautiful city 
          </p>
          <h4>Want to host?</h4>
          <p>
            Create an event at the top, supply event details including a description
            of the event. Done.
          </p>
          <h4>Attend Events</h4>
          <p>
            With so many cool events to choose from get amongst it!
          </p>
          <p>Sign up now <a href="{% url 'account_signup' %}">here</a>. Don't forget to upload a profile pic!</p>
      </div>
      </div>
    </div>
    
</section>

{% endblock %}
