{% extends "app/main.html" %} {% load static %}{% block content %}

<style>
  .viewport-height {
    height: 70vh;
    overflow-y: auto;
  }
</style>

<!-- about body -->
<section>
  <div class="container">
    <div class="row">
      <div class="col viewport-height">
          <h1>About Foodie Friend</h1>
          <p>
            foodie friend is like a bulletin board for foodie meetups. Create an
            event, supply a pic and connect with other foodies in your area. Eat,
            meet, explore with Foodie Friend.
          </p>
          <h4>For Hosts</h4>
          <p>
            Create an event at the top, supply event details including a description
            of the event, add a profile pic and your away!
          </p>
          <h4>For Guests</h4>
          <p>
            Select an event on the homepage, provide a description of yourself, add a
            profile image and your away!
          </p>
      </div>
      </div>
    </div>
    
</section>

{% endblock %}
