{% extends "app/main.html" %} {% load static %}{% block content %}

<style>
  .rec-table {
    border-collapse: collapse;
  }

  .rec-table th,
  .rec-table td {
    border: none;
    padding: 8px;
    text-align: left;
  }

  .rec-table th {
    background-color: #f2f2f2;
  }
</style>
<!-- recs body -->
<section>
  <div class="container">
    <div class="row">
      <div class="col" style="height: 70vh;">
        <h1>Recommendations</h1>

        <table class="rec-table">
          <tr>
            <th>Establishment</th>
            <th>Location</th>
            <th>Website</th>
          </tr>
          <tr>
            <td>Machiavelli Ristorante Italiano</td>
            <td>123 Clarence St, Sydney NSW 2000</td>
            <td>
              <a href="https://www.machiavelli.com.au/">machiavelli.com.au</a>
            </td>
          </tr>
          <tr>
            <td>Manjits Wharf</td>
            <td>10/49 Lime St, Sydney NSW 2000</td>
            <td>
              <a href="https://www.manjits.com.au/">manjits.com.au</a>
            </td>
          </tr>
          <tr>
            <td>Bondi Icebergs Dining Room and Bar</td>
            <td>Notts Avenue, Bondi Beach NSW, Australia</td>
            <td>
              <a href="https://idrb.com/">idrb.com</a>
            </td>
          </tr>
          <tr>
            <td>Moore Park Golf</td>
            <td>Cleveland St, Moore Park NSW 2021</td>
            <td>
              <a href="https://www.mooreparkgolf.com.au/">mooreparkgolf.com.au</a>
            </td>
          </tr>
          <tr>
            <td>Pool Club</td>
            <td>Level 4/320 George St, Sydney NSW 2000</td>
            <td>
              <a href="https://merivale.com/venues/poolclub/">merivale.com/venues/poolclub</a>
            </td>
          </tr>
          <tr>
            <td>Bondi Squash Club</td>
            <td>8 Denison St, Bondi Junction NSW 2022</td>
            <td>
              <a href="https://www.bondisquash.com/">bondisquash.com</a>
            </td>
          </tr>
          <tr>
            <td>Strike Bowling Darling Harbour</td>
            <td>22 The Promenade, Sydney NSW 2000</td>
            <td>
              <a href="https://www.strikebowling.com.au/">strikebowling.com.au</a>
            </td>
          </tr>
          <tr>
            <td>The Grounds of Alexandria</td>
            <td>7a/2 Huntley St, Alexandria NSW 2015</td>
            <td>
              <a href="https://thegrounds.com.au/">thegrounds.com.au</a>
            </td>
          </tr>
          <tr>
            <td>Chatswood Concourse</td>
            <td>409 Victoria Ave, Chatswood NSW 2067</td>
            <td>
              <a href="https://www.theconcourse.com.au/">theconcourse.com.au</a>
            </td>
          </tr>
          <tr>
            <td>Uncle Mings</td>
            <td>Basement/49 York St, Sydney NSW 2000</td>
            <td>
              <a href="https://www.unclemings.com.au/">unclemings.com.au</a>
            </td>
          </tr>
          <tr>
          <tr>
            <td>Rag & Famish Hotel</td>
            <td>199 Miller St, North Sydney NSW 2060</td>
            <td>
              <a href="https://ragandfamish.com.au/">ragandfamish.com.au</a>
            </td>
          </tr>
          <tr>
            <td>Maybe Sammy</td>
            <td>115 Harrington St, The Rocks NSW 2000</td>
            <td>
              <a href="https://www.maybesammy.com/">maybesammy.com</a>
            </td>
          </tr>
          <tr>
            <td>Concourse Bar Wynyard</td>
            <td>Concourse Level, Wynyard Station, 33 York St, Sydney NSW 2000</td>
            <td>
              <a href="https://www.concoursebar.com.au/">concoursebar.com.au</a>
            </td>
          </tr>
        </table>
      </div>
    </div>

  </div>
</section>

{% endblock %}